* {
  padding: 0;
  margin: 0;
}

#blank {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
}

#hero {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("/images/back.jpg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 600px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 30px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  top: 125px;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 42px;
}

#hero-content a {
  text-decoration: none;
  background-color: #b10631;
  padding: 12px 24px;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  width: 200px;
  align-self: center;
}

#hero-content a:hover {
  background-color: white;
  color: #6a041d;
}

.blog {
 display: flex;

}


.blog-title {
  text-align: center;
  padding-bottom: 10px;
  font-size: 32px;
}

.short-intro {
  display: flex;
  justify-content: center;
  height: 500px;
  
}

.info {
  width: 50%;
  background-color: white;
  
}

.info a {
  text-decoration: none;
  color: white;
  background-color: #b10631;
  border: 0.5px solid #b10631;
  border-radius: 4px;
  padding: 2px;
}

.info a:hover {
  border-color: #6a041d;
  background-color: #6a041d;
  color: white;
}

.info-photo {
  width: 50%;
}

.info-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#second-section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 254, 254);
}

#second-section p {
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: #140105;
  text-align: center;
}

.coveri {
  position: relative;
  width: 70%;
  height: 50%;
  margin-left: 10rem;
}


#scroll-images {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

#scroll-images::-webkit-scrollbar {
  width: 3px;
}

#scroll-images::-webkit-scrollbar-thumb {
  background-color: #6a041d;
  border-radius: 6px;
}

#scroll-images::-webkit-scrollbar-thumb:hover {
  background-color: #b10631;
}

.child {
  min-width: 350px;
  height: 300px;
  margin: 1px 10px;
  cursor: pointer;
  border: 1px solid white;
  overflow: hidden;
  border: 2px solid rgb(232, 219, 219);
  box-shadow: 2px 4px 8px rgb(61, 58, 58);
  margin-bottom: 2rem;
}

.child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  color: rgb(245, 232, 232);
  background-color: rgb(249, 235, 235);
  font-size: 50px;
  outline: none;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  #hero {
    height: 220px; /* Allow the section to adjust its height based on content */
    background-size: cover; /* Maintain background image cover */
  }

  #hero-content {
    width: 70%; /* Adjust the width to fit the screen */
    padding: 20px; /* Reduce padding for mobile */
    top: 30px; /* Adjust the position from the top */
  }

  #hero-content h1 {
    font-size: 24px; /* Decrease font size for mobile */
  }

  #hero-content p {
    font-size: 14px; /* Decrease font size for mobile */
    margin-bottom: 20px; /* Adjust margin for mobile */
  }

  #hero-content a {
    font-size: 12px; /* Decrease font size for mobile */
  }

  .testi {
    margin-top: -1em;
    font-size: 30px;
  }
  

  .hidden-p {
    display: none;
  }


  .short-intro {
    flex-direction: column;
    padding: 10px;
  }

  .info {
    width: 100%;
  }

  .info-photo {
    width: 100%;
  }

  .coveri {
    width: 100%;
    margin-left: 0;
  }

  .blog {
    display: flex;
    flex-direction: column;
  }

}
